<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Account
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="signOutAlert()">
        <ion-icon name="log-out-outline"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" placeholder="Company, category, expense ..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-list-header>
      <ion-label color="primary">Saving Accounts</ion-label>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="!contentLoaded">
      <ion-item lines="none" color="primary" *ngFor="let i of [].constructor(3);">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="contentLoaded" lines="none">
      <ion-item color="primary" *ngFor="let account of userAccount.savingAccounts">
        <ion-label color="medium">
          <h3>Balance: {{currencyFormat(account)}}</h3>
          <p>{{account.number}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <hr>

    <ion-list-header>
      <ion-label color="primary">Checking Accounts</ion-label>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!contentLoaded">
      <ion-item color="primary" *ngFor="let i of [].constructor(3);">
        <ion-label color="medium">
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="contentLoaded">
      <ion-item color="primary" *ngFor="let account of userAccount.checkingAccounts">
        <ion-label color="medium">
          <h3>Balance: {{currencyFormat(account)}}</h3>
          <p>{{account.number}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>